.Nav {
  background-color: #0ea8a8;
  height: 50px;

  .Nav-links {
    color: black;
    margin-top: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    li {
      margin: 0 10px;
      a {
        &:hover {
          color: rgb(119, 0, 255);
        }

        &:visited {
          color: red;
        }
      }
    }
  }
}
